:root {
  --primary-color: #5a5555;
  --secundary-color: #cac6c6;
  --tertiary-color: #03e5f9;
  --quaternary-color: #06b8f9;
}

h1 {
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

ul {
  list-style: circle;
}

li {
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

p {
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: justify;
  padding-top: 10px;
}

a {
  color: var(--quaternary-color);
  &:hover {
    color: var(--tertiary-color);
  }
}

.container {
  min-height: 100vh;
  width: 1200px;
  margin: auto;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-family: Fuggles, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  height: 10vh;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#headerImage {
  height: 10vh;
}

nav {
  height: 5vh;
  margin: 10px 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--secundary-color);

  & > a {
    text-decoration: none;
    color: var(--secundary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }
}

.content {
  display: flex;
  margin: 10px 10px;
  min-height: 550px;
}

.mainIndexPage {
  width: 1000px;
  margin-right: 20px;
}

#bannerImage {
  width: 1000px;
  padding: auto;
}

aside {
  width: 160px;
}

footer {
  height: 10vh;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--secundary-color);
  & > p > a {
    text-decoration: none;
    color: var(--secundary-color);
    &:hover {
      color: var(--tertiary-color);
    }
  }
}
